body {
  height: 100vh;
  margin: 0;
}

header {
  min-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.row{
  word-wrap: break-word;
}

thead{
  text-align:center;
}

tbody{
  text-align:center;
}